# macOS system files
.DS_Store

# Windows system files
Thumbs.db
Desktop.ini

# VS Code
.vscode/

# JetBrains IDEs (WebStorm, IntelliJ, etc.)
.idea/

# Sublime Text
*.sublime-workspace
*.sublime-project


