body {
  background: #b9d7ea;
  font-family: "Noto Sans", system-ui;
}

a {
  color: #769fcd;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 70px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f7fbfc;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f7fbfc;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 80%;
  border-radius: 6px;
}

.search-button {
  margin-left: 10px;
  font-size: 16px;
  background-color: #769fcd;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

.search-button:hover {
  cursor: pointer;
  background: #2B7CB2;
}

main {
  padding: 30px 0;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #F07C3A;
}

.current-temperature-icon {
  position: relative;
  top: 22px;
  font-size: 52px;
}

.current-temperature-value {
  font-size: 78px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 33px;
  font-weight: bold;
  position: relative;
  top: -32px;
  margin-right: 30px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  color: rgba(39, 33, 66, 0.4);
}
